---
grails:
    profile: web
    codegen:
        defaultPackage: proyecto.escolar.rod
    gorm:
        reactor:
            events: false
    mime:
        disable:
            accept:
                header:
                    userAgents:
                        - Gecko
                        - WebKit
                        - Presto
                        - Trident
        types:
            all: '*/*'
            atom: application/atom+xml
            css: text/css
            csv: text/csv
            form: application/x-www-form-urlencoded
            html:
              - text/html
              - application/xhtml+xml
            js: text/javascript
            json:
              - application/json
              - text/json
            multipartForm: multipart/form-data
            pdf: application/pdf
            rss: application/rss+xml
            text: text/plain
            hal:
              - application/hal+json
              - application/hal+xml
            xml:
              - text/xml
              - application/xml
    urlmapping:
        cache:
            maxsize: 1000
    controllers:
        defaultScope: singleton
    converters:
        encoding: UTF-8
    views:
        default:
            codec: html
        gsp:
            encoding: UTF-8
            htmlcodec: xml
            codecs:
                expression: html
                scriptlet: html
                taglib: none
                staticparts: none

info:
    app:
        name: '@info.app.name@'
        version: '@info.app.version@'
        grailsVersion: '@info.app.grailsVersion@'

spring:
    jmx:
        unique-names: true
    main:
        banner-mode: "off"
    groovy:
        template:
            check-template-location: false
    devtools:
        restart:
            additional-exclude:
                - '*.gsp'
                - '**/*.gsp'
                - '*.gson'
                - '**/*.gson'
                - 'logback-spring.xml'
                - '*.properties'

# Configuración Base de Datos (Común)
dataSource:
    pooled: true
    jmxExport: true
    driverClassName: com.mysql.cj.jdbc.Driver
    # Credenciales globales (fallback)
    username: "rodnixco_admin"
    password: "Paradise40??"

hibernate:
    cache:
        queries: false
        use_second_level_cache: false
        use_query_cache: false
    dialect: org.hibernate.dialect.MySQL5InnoDBDialect

environments:
    development:
        dataSource:
            dbCreate: update
            url: jdbc:mysql://rodnix.com.mx:3306/rodnixco_escolar?useSSL=false&allowPublicKeyRetrieval=true&serverTimezone=UTC
            username: "rodnixco_admin"
            password: "Paradise40??"
            driverClassName: com.mysql.cj.jdbc.Driver

    test:
        dataSource:
            dbCreate: update
            url: jdbc:h2:mem:testDb;LOCK_TIMEOUT=10000;DB_CLOSE_ON_EXIT=FALSE
            driverClassName: org.h2.Driver
            username: sa
            password: ''

    production:
        dataSource:
            # OPTIMIZADO: 'none' para velocidad y seguridad en Prod
            dbCreate: none
            
            # URL DIRECTA A NEUBOX
            url: jdbc:mysql://rodnix.com.mx:3306/rodnixco_escolar?useSSL=false&serverTimezone=UTC&allowPublicKeyRetrieval=true
            
            # CREDENCIALES HARDCODEADAS
            username: "rodnixco_admin"
            password: "Paradise40??"
            driverClassName: com.mysql.cj.jdbc.Driver
            
            # OPTIMIZACIÓN HIKARI CP (CRÍTICO PARA QUE NO SE CAIGA)
            properties:
                poolName: GrailsHikariPool
                maximumPoolSize: 10     # Límite seguro para Neubox
                minimumIdle: 2          # Mantiene 2 conexiones vivas siempre
                connectionTimeout: 30000 
                idleTimeout: 300000     
                maxLifetime: 1800000    # 30 min (Renovación obligatoria)
                
                # VALIDACIÓN ACTIVA (Evita error 500 tras inactividad)
                validationQuery: "SELECT 1"
                testOnBorrow: true
                testWhileIdle: true
                testOnReturn: false